<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pms.mapper.AdministratorMapper" >
  <resultMap id="BaseResultMap" type="com.pms.entity.Administrator" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ADMIN_ID" property="id" jdbcType="VARCHAR" />
    <result column="ADMIN_NO" property="no" jdbcType="VARCHAR" />
    <result column="ADMIN_PWD" property="pwd" jdbcType="VARCHAR" />
    <result column="ADMIN_NAME" property="name" jdbcType="VARCHAR" />
    <result column="ADMIN_PHONE" property="phone" jdbcType="VARCHAR" />
    <result column="Ext1" property="ext1" jdbcType="VARCHAR" />
    <result column="Ext2" property="ext2" jdbcType="VARCHAR" />
    <result column="Ext3" property="ext3" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbg.generated
    -->
    ADMIN_ID, ADMIN_NO, ADMIN_PWD, ADMIN_NAME, ADMIN_PHONE, Ext1, Ext2, Ext3
  </sql>
</mapper>