<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pms.mapper.DepartmentMapper">
	<resultMap id="BaseResultMap"
		type="com.pms.entity.Department">
		<id column="DEP_ID" property="id" jdbcType="VARCHAR" />
		<result column="DEP_NAME" property="name" jdbcType="VARCHAR" />
		<result column="DEP_LEADER" property="leader"
			jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		<!-- WARNING - @mbg.generated -->
		DEP_ID, DEP_NAME, DEP_LEADER
	</sql>

	<select id="queryDepartment" resultMap="BaseResultMap">
		SELECT
		DEP_ID,DEP_NAME,t_employee.EMP_NO AS
		DEP_LEADER,t_employee.EMP_NAME AS
		empName ,t_employee.EMP_Phone AS
		empPhone FROM t_department LEFT JOIN
		t_employee ON
		t_department.DEP_LEADER = t_employee.EMP_NO
		<where>
			<if test="leader != null and leader != ''">
				AND t_department.DEP_LEADER LIKE '%${leader}%'
			</if>
			<if test="depName != null and depName != ''">
				AND t_department.DEP_NAME LIKE '%${depName}%'
			</if>
			<if test="depNo != null and depNo != ''">
				AND t_department.DEP_ID LIKE '%${depNo}%'
			</if>
		</where>

	</select>
</mapper>