<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pms.mapper.InductioninfoMapper" >
  <resultMap id="BaseResultMap" type="com.pms.entity.Inductioninfo" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="IND_ID" property="id" jdbcType="VARCHAR" />
    <result column="EMP_NO" property="empNo" jdbcType="VARCHAR" />
    <result column="POS_ID" property="posId" jdbcType="VARCHAR" />
    <result column="IND_DATE" property="date" jdbcType="VARCHAR" />
    <result column="IND_STATE" property="state" jdbcType="VARCHAR" />
    <result column="IND_ENDDATE" property="enddate" jdbcType="VARCHAR" />
    <result column="EXT1" property="ext1" jdbcType="VARCHAR" />
    <result column="EXT2" property="ext2" jdbcType="VARCHAR" />
    <result column="EXT3" property="ext3" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.pms.entity.Inductioninfo" extends="BaseResultMap" >
    <!--
      WARNING - @mbg.generated
    -->
    <result column="IND_Reasons" property="reasons" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbg.generated
    -->
    IND_ID, EMP_NO, POS_ID, IND_DATE, IND_STATE, IND_ENDDATE, EXT1, EXT2, EXT3
  </sql>
  <sql id="Blob_Column_List" >
    <!--
      WARNING - @mbg.generated
    -->
    IND_Reasons
  </sql>
  
  <select id="getUserNameComboList" resultType="java.util.HashMap">
	 (SELECT a.EMP_NO AS id,b.EMP_NAME AS name FROM t_inductioninfo a LEFT JOIN t_employee b ON a.EMP_NO = b.EMP_NO WHERE b.EMP_NO IS NOT NULL)
		UNION
	(SELECT a.EMP_NO AS id,b.ADMIN_NAME AS name FROM t_inductioninfo a LEFT JOIN t_administrator b ON a.EMP_NO = b.ADMIN_ID WHERE b.ADMIN_ID IS NOT NULL)
  </select>
  
</mapper>