<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pms.mapper.NoticeMapper" >
  <resultMap id="BaseResultMap" type="com.pms.entity.Notice" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="NOT_ID" property="id" jdbcType="VARCHAR" />
    <result column="NOT_TITLE" property="title" jdbcType="VARCHAR" />
    <result column="NOT_CONTENT" property="content" jdbcType="VARCHAR" />
    <result column="NOT_DATE" property="date" jdbcType="VARCHAR" />
    <result column="NOT_AUTHOR" property="author" jdbcType="VARCHAR" />
    <result column="EXT1" property="ext1" jdbcType="VARCHAR" />
    <result column="EXT2" property="ext2" jdbcType="VARCHAR" />
    <result column="EXT3" property="ext3" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbg.generated
    -->
    NOT_ID, NOT_TITLE, NOT_CONTENT, NOT_DATE, NOT_AUTHOR, EXT1, EXT2, EXT3
  </sql>
</mapper>