<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>PMS</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>loginServlet</servlet-name>
		<servlet-class>com.pms.servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PersionInfoServlet</servlet-name>
		<servlet-class>com.pms.servlet.PersionInfoServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PasswordModifyServlet</servlet-name>
		<servlet-class>com.pms.servlet.PasswordModifyServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdminServlet</servlet-name>
		<servlet-class>com.pms.servlet.AdminServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ApplyInductionServlet</servlet-name>
		<servlet-class>com.pms.servlet.ApplyInductionServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EmployeeServlet</servlet-name>
		<servlet-class>com.pms.servlet.EmployeeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DepartmentServlet</servlet-name>
		<servlet-class>com.pms.servlet.DepartmentServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>NoticeServlet</servlet-name>
		<servlet-class>com.pms.servlet.NoticeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PoliticalStatusServlet</servlet-name>
		<servlet-class>com.pms.servlet.PoliticalStatusServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PositionsServlet</servlet-name>
		<servlet-class>com.pms.servlet.PositionsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>loginServlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PersionInfoServlet</servlet-name>
		<url-pattern>/PersionInfo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PasswordModifyServlet</servlet-name>
		<url-pattern>/PasswordModify</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminServlet</servlet-name>
		<url-pattern>/AdminServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ApplyInductionServlet</servlet-name>
		<url-pattern>/ApplyInductionServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EmployeeServlet</servlet-name>
		<url-pattern>/EmployeeServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DepartmentServlet</servlet-name>
		<url-pattern>/DepartmentServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NoticeServlet</servlet-name>
		<url-pattern>/NoticeServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PoliticalStatusServlet</servlet-name>
		<url-pattern>/PoliticalStatusServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PositionsServlet</servlet-name>
		<url-pattern>/PositionsServlet</url-pattern>
	</servlet-mapping>
</web-app>